* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #3c96ed;
    text-decoration: none;
}

body {
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

/* */
#wrapper {
    height: 100vh;
}

#container {
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column {
    flex-grow: 1;
    width: 50%;
}

.left {
    background-image: url("./assets/main-foto.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right {
    padding-left: 20px;
}